
<section class="section-1">
    <header>
        <img id="logo_nav" src="./assets/logo-digito-blanco.svg" width="200px" height="100px">
        <nav>
            <a href="#" class="active">Inicio</a>
            <a href="#soluciones">Soluciones</a>
            <a href="#talleres">Talleres</a>
            <a href="/nosotros">Nosotros</a>
            <a href="/testimonios">Testimonios</a>
            <a href="#">Blog</a>
            <a href="#contactanos">Contacto</a>
        </nav>
    </header>
</section>


<section class="section-2">
    <div class="sc2__presentacion">
        <div class="sc2__robot">
            <img src="./assets/testimonio-robot.svg">
        </div>
        <div class="sc2__descripcion">
            <h2>Nuestra mejor<br> <span id="color_txt">presentación</span></h2>
            <p>Conoce los desafíos que las empresas más grandes del país nos<br> dieron para resolver. Y, los testimonios de sus líderes cuando el<br> proyecto terminó con éxito.</p>
        </div>
    </div>
</section>


<section class="section-3">
    <div class="testimonio-1">
        <div class="test">
            <div class="test__nombre">
                <img src="./assets/1.webp">
                <p><span id="color_txt">Bruno Ávalos</span><br> Jefe de Data</p>
            </div>
            <div class="test__descripcion">
                <p>«Dígito nos ayudó a traducir las necesidades del negocio<br> hacia Dashboards en Power BI tanto en la visualización<br> de datos como en arquitectura tecnológica.»</p>
            </div>
        </div>
        <div class="test__video">
            <img src="./assets/casobi-realplaza.webp">
        </div>
    </div>
</section>


<section class="section-4">
    <div class="testimonio-2">
        <div class="test__video-2">
            <img src="./assets/casobi-tkambio.webp" width="560px" height="300px">
        </div>
        <div class="test-2">
            <div class="test__nombre-2">
                <img src="./assets/tkambio-marcopoma.webp">
                <p><span id="color_txt">Marco Poma</span><br> Gerente General</p>
            </div>
            <div class="test__descripcion-2">
                <p>«El proyecto de BI nos ha permitido monitorear el<br> crecimiento de las operaciones a nivel nacional y de<br> manera oportuna.»</p>
            </div>
        </div>
    </div>
</section>


<section class="section-5">
    <div class="testimonio-3">
        <div class="test-3">
            <div class="test__nombre-3">
                <img src="./assets/delosi-eduardo-gonzales.webp" width="100px" height="100px">
                <p><span id="color_txt">Eduardo Gonzales</span><br> Líder de Ingeniería de Datos</p>
            </div>
            <div class="test__descripcion-3">
                <p>«El equipo de Dígito tiene buena dinámica de trabajo y<br> fueron muy detallistas en el aspecto visual (UX/UI).»</p>
            </div>
        </div>
        <div class="test__video-3">
            <img src="./assets/casobi-delosi.webp" width="560px" height="300px">
        </div>
    </div>
</section>


<section class="section-6">
    <div class="testimonio-4">
        <div class="test__video-4">
            <img src="./assets/casobi-mercator.webp" width="560px" height="300px">
        </div>
        <div class="test-4">
            <div class="test__nombre-4">
                <img src="./assets/mercator-gerhard-maslo.webp" width="100px" height="100px">
                <p><span id="color_txt">Gerhard Maslo</span><br> Gerente General</p>
            </div>
            <div class="test__descripcion-4">
                <p>«En los talleres logramos adoptar las herramientas de<br> analítica de forma sencilla y nos acompañaron en todo<br> momento a resolver nuestras consultas.»</p>
            </div>
        </div>
    </div>
</section>


<section class="section-7">
    <div class="sc7__clientes">
        <div class="clientes__desc">
            <h2>Testimonios de <span id="color_txt">nuestros<br> clientes</span></h2>
            <p>El éxito de nuestros clientes es nuestra mejor carta de<br> presentación. Conoce sus proyectos.</p>
        </div>
        <div class="clientes__slider">
            <img src="./assets/bi-starter-kit.webp">
        </div>
    </div>
</section>

<app-contacto></app-contacto>

<app-footer></app-footer>