<section class="footer">
        <div class="footer__container">
                <div class="footer_sec1">
                        <img src="./assets/logo-digito-blanco.svg">
                        <p>Síguenos en:</p>
                        <p>redes</p>
                </div>
                <div class="footer_sec2">
                        
                </div>
                <div class="footer_sec3">
                        <h3>Contenido</h3>
                                <div class="sec3__menu">
                                        <a href="">Inicio</a><br>
                                        <a href="#soluciones">Soluciones</a><br>
                                        <ul>
                                                <a href="/soluciones-bi"><li>Bussiness Intelligence</li></a>
                                                <a href=""><li>RPA (Automatización Robótica de Procesos)</li></a>
                                                <a href=""><li>App Web y Móvil</li></a>
                                        </ul>
                                        <a href="#talleres">Talleres</a><br>
                                        <a href="/nosotros">Nosotros</a><br>
                                        <a href="/testimonios">Testimonios</a><br>
                                        <a href="">Blog</a><br>
                                        <a href="#contactanos">Contacto</a>
                                </div>
                </div>
                <div class="footer_sec4">
                        <h3>Herramientas</h3>
                        <a>BI Starter Kit</a>
                </div>
        </div> <!--Fin del footer__container -->
        <div class="separacion">
                <hr class="linea">
                <p>© 2023 Dígito - Todos los derechos reservados</p>
        </div>
    
</section>
