<section class="footer">
        <div class="footer__container">
                <div class="footer__redes">
                        <hr id="barra">
                                <a href="#"><img id="icono" src="./assets/whatsapp.svg" width="30px"></a>
                                <a href="#"><img id="icono" src="./assets/instagram.svg" width="30px"></a>
                                <a href="#"><img id="icono" src="./assets/twitter-x.svg" width="30px"></a>
                        <hr id="barra">
                </div>
                <div class="footer__logo">
                        <img src="./assets/logo-blanco-PNG.png" width="190px" height="75px">
                        <p>Copyright &copy; 2024 DigiTech</p>
                </div>
        </div>    
</section>