
.footer {
    background: #20214f;
    height: 25vh;
    padding: 7em 5em 5em 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.footer__container {
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 2em;
}

.footer__redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;

}

.footer__redes #barra {
    width: 20%;
    border-color: #fff;
}

.footer__redes #icono {
}

.footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__logo p {
    color: #fff;
    /* font-weight: bold; */
}

/* .footer__container {
    width: 100%;
    height: 70%;
    margin: 0 auto;
    gap: 10em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer_sec1 {
    display: flex;
    flex-direction: column;
}

.footer_sec1 img {
    margin-bottom: 2em;
}

.footer_sec1 p {
    color: skyblue;
}

.footer_sec3 {

}

.footer_sec3 a {
    color: #fff;
    text-decoration: none;
}

.footer_sec3 a:hover {
    text-decoration: underline;
}

.footer_sec3 ul {
    list-style: none;
}

.sec3__menu {
    line-height: 2em;
}

.footer__container h3 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 1em;
}

.footer_sec4 {

}

.footer_sec4 a {
    color: #fff;
}


.separacion p {
    color: skyblue;
    text-align: center;
}

.linea {
    color: #fff;
} */