<section class="section-9" id="contactanos">
    <div class="sc9__container">
      <div class="sc9__contactanos">
          <div class="contacto__txt">
              <h2>Contáctanos</h2>
              <p id="transformacion_p">Empecemos tu transformación digital. </p>
              <hr>
          </div>
          <div class="contacto__redes">
              <div class="sc9__redes">

                <div class="redes__icono"> 
                    <img src="/assets/send.svg" id="icon__svg" width="32px" height="32px">
                </div>
                <div class="redes__info">
                    <h5>Correo electrónico</h5>
                    <p>infodigito.pe </p>
                </div>

              </div>

              <div class="sc9__redes">
                <div class="redes__icono"> 
                  <img src="/assets/send.svg" width="32px" height="32px">
                </div>
                <div class="redes__info">
                    <h5>WhatsApp</h5>
                    <p>+51 987654321 </p>
                </div>
              </div>

              <div class="sc9__redes">
                <div class="redes__icono"> 
                  <img src="/assets/send.svg" width="32px" height="32px">
                </div>
                <div class="redes__info">
                    <h5>Ubicación</h5>
                    <p>Av. Andrés Aramburú 166 - Miraflores, Lima - Perú </p>
                </div>
              </div>

              <div class="sc9__map">
                <img src="./assets/map.webp" width="600px" height="280px">
              </div>
              
          </div> <!-- Fin contacto__redes-->
      </div>
      <div class="sc9__form">

        <form>
          
          <div class="row">
            <div class="col">
              <input type="text" id="sc9__text" class="form-control" placeholder="Nombre">
            </div>
            <div class="col">
              <input type="text" id="sc9__text" class="form-control" placeholder="Apellido">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <input type="text" id="sc9__text" class="form-control" placeholder="Correo">
            </div>
            <div class="col">
              <input type="text" id="sc9__text" class="form-control" placeholder="Teléfono">
            </div>
          </div>

          <div class="col">
            <input type="text" id="sc9__text-2" class="form-control" placeholder="Empresa">
          </div>

          <div class="mb-3">
            <textarea class="form-control" id="sc9__text-3" rows="3" placeholder="Deja tu mensaje aquí..."></textarea>
          </div>

          <div>
            <button id="btn__enviar" type="button" class="btn btn-primary">Enviar</button>
          </div>
        </form>

      </div>
    </div> <!-- Fin del div sc9__container-->
  </section>
