<section class="section-1">
    <header>
        <img id="logo_nav" src="./assets/logo-digito-blanco.svg" width="200px" height="100px">
        <nav>
            <a href="#" class="active">Inicio</a>
            <a href="#soluciones">Soluciones</a>
            <a href="#talleres">Talleres</a>
            <a href="/nosotros">Nosotros</a>
            <a href="/testimonios">Testimonios</a>
            <a href="#">Blog</a>
            <a href="#contactanos">Contacto</a>
        </nav>
    </header>
</section>

<section class="section-2">
    <div class="nosotros__digito">
        <h2>¿Cómo nació Dígito?</h2>
        <p>Nació el 2019 con la misión de ser ese agente de cambio que las mejores empresas del Perú buscan para iniciar su transformación digital y así, ser parte de sus historias de cambio como proveedores clave.</p>
        <img src="./assets/nosotros__digito.webp" width="100px" height="100px">
    </div> 
</section>

<section class="section-3">
    <div class="sc3__vision">
        <div class="sc3__video">
            <img src="./assets/reunion.jpg" width="380px" height="200px">
        </div>
        <div class="sc3__metas">
            <div class="metas-1">
                <h2><span id="color_txt">Nuestra visión para el 2028</span> es lograr posicionarnos como la empresa más confiable en…</h2>
            </div>
            <div class="metas-2">
                <p><img src="./assets/check-lg.svg" width="20" height="20">Ser guía en el camino de transformación digital de las empresas más grandes del Perú.</p>
                <p><img src="./assets/check-lg.svg" width="20" height="20">Ser difusores de la cultura de innovación en nuestra empresa y la de nuestros clientes.</p>
                <p><img src="./assets/check-lg.svg" width="20" height="20">Ser formadores de profesionales comprometidos con el desarrollo integral de cada proyecto. </p>
                <p><img src="./assets/check-lg.svg" width="20" height="20">Ser impulsores de la economía de nuestro país.</p>
            </div>
        </div>
    </div>
</section>

<section class="section-4">
    <div class="sc4__desafios">
        <div class="sc4__titulo">
            <h2>Nuestros mejores <span id="color_txt">desafíos</span></h2>
            <p>Sabemos que cada compañía es única y nuestras soluciones también lo son. Adaptamos nuestras propuestas a la medida de nuestros clientes,</p>
        </div>
        <div class="sc4__clientes">
            <img src="./assets/nosotros-logo-supercable.webp">
            <img src="./assets/nosotros-logo-san-ignacio.webp">
            <img src="./assets/nosotros-stoller.webp">
            <img src="./assets/nosotros-toulouse-lautrec.webp">
            <img src="./assets/nosotros-espacio.webp">
        </div>
        <div class="sc4__robot">
            <img src="./assets/robot-logos.svg">
        </div>
    </div>
</section>

<section class="section-5">
    <div class="sc5__blog">
        <div class="sc5__titulo">
            <h2>Un blog escrito por todo <span id="color_txt">nuestro equipo</span></h2>
            <p>El compromiso de ser referentes del sector tecnología, innovación y transformación digital es el trabajo conjunto de todo el equipo.</p>
        </div>
        <div class="container">
            <div class="card">
              <img src="./assets/37.webp" width="150px" height="120px">
              <p>Microsoft Cloud Solutions Provider</p>
              <p>Descripción Descripción Descripción Descripción </p>
              <button type="button" class="btn btn-outline-dark">Más información</button>
            </div>
            <div class="card">
              <img src="./assets/microsoft.jpg" width="150px" height="120px">
              <p>HubSpot Solutions Provider</p>
              <p>Descripción Descripción Descripción Descripción</p>
              <button type="button" class="btn btn-outline-dark">Más información</button>
            </div>
            <div class="card">
              <img src="./assets/microsoft.jpg" width="150px" height="120px">
              <p>Business Networking International </p>
              <p>Descripción Descripción Descripción Descripción</p>
              <button type="button" class="btn btn-outline-dark">Más información</button>
            </div>
          </div>
    </div>
</section>

<app-footer></app-footer>