<section class="section-1">
    <header>
        <img id="logo_nav" src="./assets/logo-digito-blanco.svg" width="200px" height="100px">
        <nav>
            <a href="#" class="active">Inicio</a>
            <a href="#soluciones">Soluciones</a>
            <a href="#talleres">Talleres</a>
            <a href="/nosotros">Nosotros</a>
            <a href="/testimonios">Testimonios</a>
            <a href="#">Blog</a>
            <a href="#contactanos">Contacto</a>
        </nav>
    </header>
</section>


<section class="section-2">
    <div class="sc2__dashboard">
        <div class="dashboard__txt">
            <h2>¡Desarrollamos<br> <span id="color_txt">Dashboards interactivos!</span></h2>
            <img src="./assets/Front_Screens.webp" width="450px" height="450px">
        </div>
        <div class="sc__formulario">

            <form>
                <h2>Implementa soluciones de<br> Business Intelligence</h2>
                <div class="row">
                  <div class="col">
                    <input type="text" id="sc__text" class="form-control" placeholder="Nombre">
                  </div>
                  <div class="col">
                    <input type="text" id="sc__text" class="form-control" placeholder="Apellido">
                  </div>
                </div>
      
                <div class="row">
                  <div class="col">
                    <input type="text" id="sc__text" class="form-control" placeholder="Correo">
                  </div>
                  <div class="col">
                    <input type="text" id="sc__text" class="form-control" placeholder="Teléfono">
                  </div>
                </div>
      
                <div class="col">
                  <input type="text" id="sc__text-2" class="form-control" placeholder="Empresa">
                </div>
      
                <div class="mb-3">
                  <textarea class="form-control" id="sc__text-3" rows="3" placeholder="Cuéntanos tus desafíos aquí..."></textarea>
                </div>
      
                <div class="form__button">
                  <button id="btn__enviar" type="button" class="btn btn-primary">Enviar</button>
                </div>
            </form>

        </div>
    </div>
</section>


<section class="section-3">
    <div class="sc3__dashboard">
        <h2>Interactúa con este Dashboard</h2>
        <img src="./assets/dashboard-02-1024x574.webp" width="1000px" height="600px">
        <p>Vive la experiencia del Business Intelligence</p>
    </div>
</section>