<section class="section-1">
    <header>
        <img id="logo_nav" src="./assets/logo-blanco-PNG.png" width="250px" height="95px">
        <nav>
            <a href="#" class="active">Inicio</a>
            <a href="#soluciones">Soluciones</a>
            <a href="/nosotros">Nosotros</a>
            <a href="/testimonios">Testimonios</a>
            <a href="#contactanos">Contacto</a>
        </nav>
    </header>
</section>


<section class="section-2">
    <div class="sc2__dashboard">
        <div class="dashboard__txt">
            <h2>¡Desarrollamos<br> <span id="color_txt">Dashboards interactivos!</span></h2>
            <img src="./assets/Front_Screens.webp" width="450px" height="450px">
        </div>
        <div class="sc__formulario">

            <form>
                <h2>Implementa soluciones de<br> Business Intelligence</h2>
                <div class="row">
                  <div class="col">
                    <input type="text" id="sc__text" class="form-control" placeholder="Nombre">
                  </div>
                  <div class="col">
                    <input type="text" id="sc__text" class="form-control" placeholder="Apellido">
                  </div>
                </div>
      
                <div class="row">
                  <div class="col">
                    <input type="text" id="sc__text" class="form-control" placeholder="Correo">
                  </div>
                  <div class="col">
                    <input type="text" id="sc__text" class="form-control" placeholder="Teléfono">
                  </div>
                </div>
      
                <div class="col">
                  <input type="text" id="sc__text-2" class="form-control" placeholder="Empresa">
                </div>
      
                <div class="mb-3">
                  <textarea class="form-control" id="sc__text-3" rows="3" placeholder="Cuéntanos tus desafíos aquí..."></textarea>
                </div>
      
                <div class="form__button">
                  <button id="btn__enviar" type="button" class="btn btn-primary">Enviar</button>
                </div>
            </form>

        </div>
    </div>
</section>

<section class="section-3">
    <div class="sc3__texto">
      <p>vv</p>
      <h2>Conoce lo que opinan nuestros clientes</h2>
      <p>vv</p>
    </div>
</section>


<section class="section-4">
    <div class="sc4__cards">

        <div class="container">
            <div class="card" id="card__up">
                <img src="./assets/phone.svg" width="40px" height="40px">
                <h4>Optimización</h4>
                <p>Ahorra el 95% del tiempo en consolidar tu información.</p>
            </div>
          <div class="card">
              <img src="./assets/phone.svg" width="40px" height="40px">
              <h4>Mejora continua </h4>
              <p>Identifica puntos de mejora para tomar mejores decisiones.</p>
          </div>
          <div class="card">
              <img src="./assets/phone.svg" width="40px" height="40px">
              <h4>Disponibilidad 24/7</h4>
              <p>Analiza tus indicadores de forma segura y accede desde cualquier lugar.</p>
          </div>
        </div>

    </div>
</section>


<section class="section-5">
    <div class="testimonio-1">
        <div class="test">
            <div class="test__nombre">
                <img src="./assets/realplaza-isotipo.webp" width="100px" height="100px">
                <p>Bruno Ávalos<br><span id="color_txt">Jefe de Data & Analytics</span></p>
        </div>
        <div class="test__descripcion">
              <p>«Dígito nos ayudó a traducir las necesidades<br> del negocio hacia Dashboards en Power BI<br> tanto en la visualización de datos como en<br> arquitectura tecnológica.»</p>
        </div>
    </div>
        <div class="test__video">
            <img src="./assets/casobi-realplaza.webp" width="520px" height="300px">
        </div>
    </div>
</section>


<section class="section-6">
  <div class="testimonio-2">
      <div class="test__video-2">
          <img src="./assets/casobi-tkambio.webp" width="520px" height="260px">
      </div>
      <div class="test-2">
          <div class="test__nombre-2">
              <img src="./assets/delosi-eduardo-gonzales.webp" width="100px" height="100px">
              <p>Eduardo Gonzales<br><span id="color_txt">Delosi - Líder de Ingeniería de<br> Datos</span></p>
          </div>
          <div class="test__descripcion-2">
              <p>«El equipo de Dígito tiene buena dinámica de<br> trabajo y fueron muy detallistas en el aspecto<br> visual (UX/UI).»</p>
          </div>
      </div>
  </div>
</section>


<section class="section-7">
  <div class="testimonio-3">
      <div class="test">
          <div class="test__nombre">
              <img src="./assets/mercator-gerhard-maslo.webp" width="100px" height="100px">
              <p>Gerhard Maslo<br><span id="color_txt">Mercator – Gerente General</span></p>
      </div>
      <div class="test__descripcion">
            <p>«En los talleres logramos adoptar las<br> herramientas de analítica de forma sencilla y<br> nos acompañaron en todo momento a<br> resolver nuestras consultas.»</p>
      </div>
  </div>
      <div class="test__video">
          <img src="./assets/casobi-mercator.webp" width="520px" height="260px">
      </div>
  </div>
</section>

<app-footer></app-footer>