<!-- HTML padre -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-navbar></app-navbar>

  <section class="section-2" id="">
  <!-- <div class="sec_carousel"> -->
    <h1>Ellos confían en nosotros</h1>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="multiSlideConfig" touch-move="true">
      <div ngxSlickItem *ngFor="let image of multiSlideImages">
        <img width="100%" height="500px" [src]="image?.img" alt="img" class="mx-auto">
      </div>
    </ngx-slick-carousel>
  <!-- </div> -->
  </section>

  <section class="section-3" id="soluciones">
    <h2>Conoce nuestras soluciones</h2>
    <div class="container">
      <div class="card">
        <p>ícono</p>
        <p>App Web y Móvil</p>
        <p>Descripción Descripción Descripción Descripción </p>
        <button type="button" class="btn btn-primary">Ver más</button>
      </div>
      <div class="card">
        <p>ícono</p>
        <p>Business Intelligence</p>
        <p>Descripción Descripción Descripción Descripción</p>
        <button type="button" class="btn btn-primary">Ver más</button>
      </div>
      <div class="card">
        <p>ícono</p>
        <p>RPA</p>
        <p>Descripción Descripción Descripción Descripción</p>
        <button type="button" class="btn btn-primary">Ver más</button>
      </div>
    </div>
    <button type="button" class="btn btn-outline-primary">Cuéntanos tu proyecto</button>
  </section>

  <section class="section-4" id="talleres">
    <div class="talleres__imagen">
      <img id="taller__img" src="./assets/reunion.jpg">
    </div>
    <div class="talleres__texto">

        <h2>¿Necesitas reforzar tu equipo?</h2>
        <p>Pregunta por nuestros talleres</p>

      <div class="taller__txt1">
        <p> > Analista de Business Intelligence</p>
        <p> > Ingeniero de Datos</p>
        <p> > Herramientas Digitales</p>
      </div>

        <button type="button" class="btn btn-outline-success">Contáctanos aquí</button>

    </div>

  </section>

</body>
</html>