.section-2 {
    background: url(../../assets/trama-flecha-mosaico-01.svg);
    background-color: #20214f;
    height: 40vh;
    /* padding: 60px;
    padding-left: 60px; */
    position: static;
}

.section-2 h2 {
    font-weight: bold;
    color: #fff;
}

.section-2 p {
    padding: 20px;
    line-height: 1.8em;
    font-size: 18px;
    align-self: center;
}

.sec_carousel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 4em;
}

/** Carousel **/

.sec_carousel {
  padding: 60px 400px;
  display: flex;
  flex-direction: column;
}

.section-2 img {
  width: 200px;
  height: auto;
  border-radius: 10%;
}

/** Fin - Carousel **/

/** Section 3 **/

.section-3 {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.section-3 h2 {
  color: #20214f;
  font-weight: bold;
}

.section-3 h4 {
  font-weight: bold;
}

.section-3 img {
  margin-bottom: 2em;
}

.sc3__soluciones {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60%;
  padding: 0;
  gap: 0.1em;
}

.card {
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
  /* transition: 0.3s; */
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em 1em;
  position: static;
  top: 0;
  transition: top ease 0.5s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  top: -10px;
}

.container {
  /* padding: 2px 16px; */
  flex-grow: 0;
  flex-shrink: 1;
}

.sc3__soluciones #btn {
  width: 20em;
  align-self: center;
  margin-top: 3.5em;
}

/** Fin- Section 3 **/


/** Section 8 **/

.section-8 {
  background: linear-gradient(to right, #20214f, #3F78CC);
  height: 50vh;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sc8__container {
  /* background: red; */
  width: 100%;
  height: 70%;
  margin: 0 auto;
  gap: 8em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sc8__txt {
  /* background: green; */
  text-align: left;
  padding-right: 3.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sc8__txt h2 {
  font-weight: bold;
  color: #fff;
}

.sc8__txt p {
  color: #fff;
  font-size: large;
}

.sc8__slider {
  /* background: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sc8__slider h2 {
  font-weight: bold;
}

/** Testimonial Slider **/

swiper-container {
  /* margin: 100px auto; */
  width: 650px;
  height: 400px;
}

swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.slide__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1.5em;
  padding: 5em 3em;
}

.slide__info img {
  border-radius: 100%;
  align-self: center;
}

swiper-slide:nth-child(1n) {
}

swiper-slide:nth-child(2n) {
  /* background-color: rgb(0, 140, 255); */
}

swiper-slide:nth-child(3n) {
  /* background-color: rgb(10, 184, 111); */
}

swiper-slide:nth-child(4n) {
  /* background-color: rgb(211, 122, 7); */
}

swiper-slide:nth-child(5n) {
  /* background-color: rgb(118, 163, 12); */
}

swiper-slide:nth-child(6n) {
  /* background-color: rgb(180, 10, 47); */
}

swiper-slide:nth-child(7n) {
  /* background-color: rgb(35, 99, 19); */
}

swiper-slide:nth-child(8n) {
  /* background-color: rgb(0, 68, 255); */
}

swiper-slide:nth-child(9n) {
  /* background-color: rgb(218, 12, 218); */
}


/** Fin- Testimonial Slider **/


/** Fin - Section 8 **/

/** Section 9 **/

.section-9 {
  background: f4f4f4;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sc9__container {
  /* background: red; */
  width: 100%;
  height: 80%;
  margin: 0 auto;
  gap: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sc9__contactanos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: greenyellow; */
  /* padding: 4em; */
}

.sc9__redes {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  /* background: yellow; */
}

.contacto__txt {
  text-align: left;
  /* background: blueviolet; */
}

.contacto__txt h2 {
  font-weight: bold;
  margin-bottom: 0.2em;
}

.contacto__txt #transformacion_p {
  margin-bottom: 2em;
}

.contacto__redes {
  /* background: orange; */
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1.8em;
}

.redes__info p {
  margin: 0;
}

.redes__info h5 {
  font-weight: bold;
}

.sc9__map {
  align-self: center;
}

.sc9__form {
  /* background: aquamarine; */
  padding: 3.5em 0 8em 0;
}

#sc9__text::placeholder {
  color: #9e9e9e;
}

#sc9__text-2::placeholder {
  color: #9e9e9e;
}

#sc9__text-3::placeholder {
  color: #9e9e9e;
}

.sc9__form #sc9__text {
  background-color: #eeeeee;
  width: 16em;
  height: 3em;
  margin-bottom: 2.5em;
}

.sc9__form #sc9__text-2 {
  background-color: #eeeeee;
  width: 100%;
  height: 3em;
  margin-bottom: 2.8em;
}

.sc9__form #sc9__text-3 {
  background-color: #eeeeee;
  width: 100%;
  height: 8em;
  margin-bottom: 2.5em;
}

.sc9__form #btn__enviar {
  width: 100%;
  height: 3.5em;
  background-color: #2196f3;
  border: none;
}

/** Fin - Section 9 **/